<h1>You Did It!</h1>
<h3>{{auth}} Login Successful</h3>
<img class="thumbs-up" src="https://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png" alt="">
<h4>JWT:</h4>
<p>{{token}}</p>
<h4>JWT Decoded:</h4>
<p>{{decoded}}</p>
