body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  color: white;
  background-color: blue;
}

.thumbs-up {
  height: 500px;
  max-width: 100%;
}
